{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
    <link rel="stylesheet" href="{% static "css/irfan-style.css" %}">
    <title>Sinar Perak | Semua Program</title>
</head>

<body>
{% include 'navbar.html' %}

<!-- <section class="container text-center headerPage2">
  <h1>SEMUA PROGRAM</h1>
  <div class="line text-center"></div>
</section> -->

<div class="title-with-line d-flex justify-content-center align-items-center flex-column container headerPage2">
    <h1 align="center"><b>SEMUA PROGRAM</b></h1>
    <div class="line"></div>
</div>

<section class="container">
    <section class="row">
        {% for i in obj %}
            <div class="space col-xl-4">
                <div class="container thisOnePurple">
                    <div class="content">
                        <img src="{{ i.imageURL }}" alt="gambar program" class="programPict">
                        <div class="container judulProgram text-center">
                            <h4><b> {{ i.title }} </b></h4>
                        </div>
                        <div class="container descProgram">
                            <p>
                                <p> {{ i.description }} </p>
                            </p>
                        </div>
                    </div>
                    <div class="container punyanyaButton">
                        <a href="../../disasterInfo/{{ i.titleURL }}">
                            <button type="button" class="btn btn-primary btn-block" id="buttonPage2">Donasi Sekarang
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</section>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Choose a Method for Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <header class="col-sm-12 align-self-center" id="out">
                <header class="col-sm-12 align-self-center" id="in">
                    <br>
                    <div class="container text-center googleSign">
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.build_absolute_uri }}"
                           style="text-transform:none; font-weight: bold; display: inline-flex;">
                            <div class="left">
                                <img width="20px" alt="Google &quot;G&quot; Logo" id='google'
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            </div>
                            Login with Google
                        </a>
                    </div>
                    <br>
                </header>
            </header>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<section class="footer">
    <h1 align="center">SinarPerak</h1>
    <p class="footer-text">SinarPerak adalah website untuk menggalang dana dan berdonasi secara online dan transparan.
        SinarPerak memfokuskan
        kampanyenya untuk daerah-daerah di Indonesia yang sedang mengalami bencana. SinarPerak didirikan pada tahun 2018
        oleh mahasiswa Fasilkom Indonesia.</p>
    <div class="contact-us">
        <h5>CONTACT US</h5>
        <div class="footer-socmed">
            <a href="https://www.facebook.com" target="_blank"><img src="{% static 'assets/fb.png' %}"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{% static 'assets/ig.png' %}"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="{% static 'assets/tw.png' %}"></a>
            <a href="https://www.youtube.com" target="_blank"><img src="{% static 'assets/youtube.png' %}"></a>
        </div>
    </div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>
