{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
    <link rel="stylesheet" href="{% static "css/irfan-style.css" %}">
    <title>Disaster | Info</title>
</head>


<body>
{% include 'navbar.html' %}
<!-- ini waste of space -->
<section class="helpJumbotron">
    <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
        </div>
    </div>
</section>
<!-- ini akhir waste of space -->
<section class="cotainer" id="judul">
    <div class="row">
        <div class="col-md-6">
            <section class="container" id=" judulKiri">
                <h3 class="text-justify"><b> {{ obj.title }} </b></h3>
            </section>
        </div>
    </div>
</section>

<section class="container" id="outer">
    <div class="row">
        <div class="col-md">
            <section class="container" id="gambarBencana">
                <img src="{{ obj.imageURL }}" alt="gambarBencana">
            </section>
            <section class="container" id="descriptionBerita">
                <p class="font-weight-light text-justify">
                    <lead> {{ obj.description }} </lead>
                </p>
            </section>
            <section class="container" id="publisher">
                <div class="row">
                    <div class="col-xs-1" id="publisherPhoto">
                        <img src="{% static "assets/donatur.png" %}" width="40" height="40" alt="gambar donatur">
                    </div>
                    <div class="col-xs-4" id="publisherName">
                        <p><b>{{ obj.person }}</b></p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col">
            <div class="row-md">
                <section class="container">
                </section>
            </div>
            <div class="container">
                <div class="jumbotron" id="backgroundAngka">
                    <h3><b> Rp {{ total_donation | intcomma }} </b></h3>
                    <p> terkumpul dari target Rp {{ obj.moneyTarget | intcomma }} </p>
                    {% if user.is_authenticated %}
                    <a href="../../donasi/{{ obj.titleURL }}/">
                        <button type="button" class="btn btn-primary btn-block">Donasi Sekarang</button>
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
                      Donasi Sekarang
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="container" id="containerSosmed">
                <div class="jumbotron" id="backgroundSosmed">
                    <p class="text-center"> BAGIKAN KE SOSIAL MEDIA ANDA </p>
                    <div class="row justify-content-sm-center">
                        <div class="col-xs-1" id="sosmedIcon">
                            <a href="https://www.facebook.com" target="_blank"><img src="{% static "assets/fb.png" %}"
                                                                                    width="40" height="40" alt="fb"></a>
                        </div>
                        <div class="col-xs-1" id="sosmedIcon">
                            <a href="https://www.instagram.com" target="_blank"><img src="{% static "assets/ig.png" %}"
                                                                                     width="40" height="40"
                                                                                     alt="ig"></a>
                        </div>
                        <div class="col-xs-1" id="sosmedIcon">
                            <a href="https://www.twitter.com" target="_blank"><img src="{% static "assets/tw.png" %}"
                                                                                   width="40" height="40" alt="tw"></a>
                        </div>
                        <div class="col-xs-1" id="sosmedIcon">
                            <a href="https://www.youtube.com" target="_blank"><img
                                    src="{% static "assets/youtube.png" %}" width="40" height="40" alt="youtube"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- The Modal -->
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">Choose a Method for Login</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <!-- Modal body -->
  <header class="col-sm-12 align-self-center" id="out">
      <header class="col-sm-12 align-self-center" id="in">
        <br>
        <div class= "container text-center googleSign">
          <a href="{% url 'social:begin' 'google-oauth2' %}"
             style="text-transform:none; font-weight: bold; display: inline-flex;">
              <div class="left">
                  <img width="20px" alt="Google &quot;G&quot; Logo" id='google'
                       src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
              </div>
              Login with Google
          </a>
        </div>
          <br>
      </header>
  </header>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>

</div>
</div>
</div>

<!-- ini waste of space -->
<section class="helpJumbotron">
    <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
        </div>
    </div>
</section>
<!-- ini akhir waste of space -->
</body>
</html>
