
body {
    background: #ffffff;
    font-family: 'Hind', sans-serif;

}

.page-header {
    background: #ccc;
    margin: 0;
}

.profile-head {
    width: 100%;
    background-color: rgb(65, 105, 255);
    float: left;
    padding: 15px 5px;
    border-radius: 30px;
}

.profile-head img {
    height: 180px;
    width: 180px;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 5px;
}

.profile-head h5 {
    width: 100%;
    padding: 5px 5px 0px 5px;
    text-align: justify;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.profile-head p {
    width: 100%;
    text-align: justify;
    padding: 0px 5px 5px 5px;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    margin: 0;
}

.profile-head a {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.profile-head ul {
    list-style: none;
    padding: 0;
}

.profile-head ul li {
    display: block;
    color: #ffffff;
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
}

.profile-head ul li:hover span {
    color: rgb(0, 4, 51);
}

.profile-head ul li span {
    color: #ffffff;
    padding-right: 10px;
}

.profile-head ul li a {
    color: #ffffff;
}

.profile-head h6 {
    width: 100%;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}

.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4), -2px -2px 5px -2px rgba(0, 0, 0, .4);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .4), -2px -3px 5px -2px rgba(0, 0, 0, .4);
}

.tab-pane {
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.tab-content > .active {
    margin-top: 50px; /*width:100% !important;*/
}

/* edit profile css*/

.hve-pro {
    background-color: rgb(255, 102, 0);
    padding: 5px;
    width: 100%;
    height: auto;
    float: left;
}

.hve-pro p {
    float: left;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    padding: 5px 20px;
    font-family: 'Noto Sans', sans-serif;
}

h2.register {
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 25px;
    color: rgb(255, 102, 0);
}

.fom-main {
    overflow: hidden;
}

legend {
    font-family: 'Bitter', serif;
    color: #ff3200;
    border-bottom: 0px solid;
}

label.control-label {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 5px !important;
    text-align: left !important;
    text-transform: uppercase;
    color: #798288;
}

.submit-button {
    color: #fff;
    background-color: rgb(255, 102, 0);
    width: 190px;
    border: 0px solid;
    border-radius: 0px;
    transition: all ease 0.3s;
    margin: 5px;
    float: left;
}

.submit-button:hover, .submit-button:focus {
    color: #fff;
    background-color: rgb(0, 4, 51);
}

.edit-button {
    color: #fff;
    background-color: rgb(255, 102, 0);
    width: 190px;
    border: 0px solid;
    border-radius: 0px;
    transition: all ease 0.3s;
    margin: 5px;
    float: left;
}

.edit-button:hover, .submit-button:focus {
    color: #fff;
    background-color: rgb(0, 4, 51);
}

.hint_icon {
    color: #ff3200;
}

.form-control:focus {
    border-color: #ff3200;
}

select.selectpicker {
    color: #99999c;
}

select.selectpicker option {
    color: #000 !important;
}

select.selectpicker option:first-child {
    color: #99999c;
}

.input-group {
    width: 100%;
}

.uplod-picture {
    width: 100%;
    color: #fff;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.uplod-file {
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: rgb(0, 4, 51);
    border: 0px solid #a02e09;
    border-radius: 0px;
    transition: all ease 0.3s;
    margin: 5px;
}

.uplod-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.uplod-file:hover, .uplod-file:focus {
    color: #fff;
    background-color: rgb(255, 102, 0);
}

h4.pro-title {
    font-size: 24px;
    color: rgba(0, 4, 51, 0.96);
    text-transform: capitalize;
    text-align: justify;
    padding: 10px 15px;
    font-family: 'Bitter', serif;
}

.bio-table {
    width: 75%;
    border: 0px solid;
}

.bio-table td {
    text-transform: capitalize;
    text-align: left;
    font-size: 15px;
}

.bio-table > tbody > tr > td {
    border: 0px solid;
    text-transform: capitalize;
    color: rgb(0, 4, 51);
    font-size: 15px;
}

.responsiv-table {
    border: 0px solid;
}

.nav-menu li a {
    margin: 5px 5px 5px 5px;
    position: relative;
    display: block;
    padding: 10px 50px;
    border: 0px solid !important;
    box-shadow: none !important;
    background-color: rgb(0, 4, 51) !important;
    color: #fff !important;
    white-space: nowrap;
}

.nav-menu li.active a {
    background-color: rgb(255, 102, 0) !important;
}

.stick {
    position: fixed !important;
    top: 0;
    z-index: 999 !important;
    width: 100%;
    background: #ffffff !important;
    height: auto;
    transition: all ease 0.8s;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

.stick a {
    line-height: 20px !important;
}

.stick img {
    margin: 0 !important;
}

@media all and (max-width: 768px) {

    .navbar-inverse .drop_menu {
        display: block;
        visibility: visible;
        width: 110px;
        height: 1000px;
        padding: 0px 20px;
        position: absolute;
        right: -100px;
        transition: all ease 0.5s;
        border-top: 0px solid;
        cursor: pointer;
    }

    .navbar-brand {
        padding: 0;
        margin-left: 10px !important;
    }

    a.menu {
        display: block !important;
        margin: 9px 2px;
        float: right;
        color: rgba(255, 102, 0, 0.98);
        border: 0px solid;
        background: none;
        font-size: 30px;
        width: 27px;
        position: relative;
        cursor: pointer;
    }

    a.menu:hover, a.menu:focus {
        color: rgb(0, 4, 51);
    }

    .drop_menu1 {
        display: block;
        visibility: visible;
        width: 250px;
        height: 1000px;
        padding: 5px 30px;
        position: absolute;
        right: 0 !important;
        background-color: #ffffff !important;
        transition: all ease 0.5s;
        border-top: 0px solid;
        cursor: pointer;
    }

}

@media all and (max-width: 430px) {
    .profile-head ul li {
        font-size: 12px !important;
    }

    .nav-menu li {
        width: 50%;
    }

    .bio-table > tbody > tr > td {
        font-size: 13px;
    }

}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
    border: 1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}

.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.menu_title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
}

.data-donasi {
    background-color: #541D38;
    color: white;
    align-items: center;
    flex: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.row.profile {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 64px;
}

.table-responsive {
    padding: 0 3rem;
}

.table-me {
    background-color: white;
    color: black;
    font-size: 20px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .table-responsive {
        padding: 0;
    }

    .prof-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0.5rem;
    }

    .group-title > h2 {
        text-align: center;
        font-size: 2rem;
    }

    .group-title > h3 {
        text-align: center;
        font-size: 1rem;
    }
}
