#backgroundAngka {
    background-color: #E4C0C7;
    margin-right: 70px;
    margin-left: 50px;
}

.btn-primary {
    background-color: #541D38;
    border-color: #541D38
}

.btn-primary:hover {
    background-color: #FFFFFF;
    border-color: #541D38;
    color: #541D38;
}

#backgroundSosmed {
    background-color: #541D38;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 70px;
    margin-left: 50px;
}

#backgroundSosmed p {
    color: #FFFFFF;
}

#publisherName {
    padding-left: 8px;
    padding-top: 8px;
}

#sosmedIcon {
    padding-left: 20px;
    padding-bottom: 10px;
}

#gambarBencana img {
    width: 100%;
}

#publisherPhoto {
    padding-left: 15px;
}

#judul {
    margin-left: 75px;
    margin-right: 75px;
}

@media screen and (max-width: 768px) {
    #judul {
        margin-left: 38px;
        margin-right: 1px;
    }

    #gambarBencana img {
        width: 115%;
    }

    #backgroundAngka {
        background-color: #E4C0C7;
        margin-right: 1px;
        margin-left: 20px;
    }

    #backgroundSosmed {
        background-color: #541D38;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-right: 1px;
        margin-left: 20px;
    }

    #sosmedIcon {
        padding-right: 10px;
        padding-left: 5px;
    }

    #publisherName {
        padding-left: 10px;
        padding-top: 9px;
    }

    #publisherPhoto {
        padding-left: 14px;
    }

    @media screen and (max-width: 414px) {
        #judul {
            margin-left: 14px;
            margin-right: 14px;
        }

        #gambarBencana img {
            width: 100%;
        }

        #backgroundAngka {
            background-color: #E4C0C7;
            margin-right: 1px;
            margin-left: 1px;
        }

        #backgroundSosmed {
            background-color: #541D38;
            padding-bottom: 15px;
            padding-top: 15px;
            margin-right: 1px;
            margin-left: 1px;
        }

        #publisherName {
            padding-left: 10px;
            padding-top: 9px;
            padding-bottom: 9px;
        }

        #publisherPhoto {
            padding-left: 14px;
        }

        #sosmedIcon {
            padding-right: 10px;
            padding-left: 32px;
        }
    }
}

/* this one for page 2 */

.headerPage2 {
    padding-top: 70px;
}

.thisOnePurple {
    background-color: #541D38;
    border-radius: 25px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.programPict {
    border-radius: 25px 25px 0px 0px;
    min-height: 200px;
    max-height: 200px;
    width: 350px;
}

.judulProgram h4 {
    color: #FFFFFF
}

.judulProgram {
    padding-top: 12px;
    min-height: 70px;
    max-height: 70px;
}

.descProgram {
    color: #FFFFFF;
    font-size: 13px;
    min-height: 125px;
    max-height: 125px;
}

#buttonPage2 {
    background-color: #E4C0C7;
    border-color: #E4C0C7;
    color: #541D38;
}

#buttonPage2:hover {
    background-color: #E4C0C7;
    border-color: #541D38;
    color: #FFFFFF;
}

.punyanyaButton {
    width: 180px;
}

#google {
    margin-right: 5px;
}

.line {
    display: block;
    border-top: 8px solid #541D38;
    width: 10%;
    margin-bottom: 2rem;
}

.title-with-line .line {
    width: 20%;
}

.space {
    margin-bottom: 0.5rem;
}

.footer {
    margin-top: 2rem;
}

.descProgram p {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .programPict {
        border-radius: 25px 25px 0px 0px;
        min-height: 200px;
        max-height: 200px;
        min-width: 384px;
    }
}
