body {
    font-family: 'Hind', sans-serif;
    background-size: cover;
    background: rgba(0, 0, 0, 0.9) url(https://pbs.twimg.com/media/Dps_QU5UcAEfMsG.png:large) no-repeat center;
}

hr {
    background-color: #C0C0C0;
    height: 1px;
    width: 38%;
}

#first {
    margin-top: 18%;
}

#second {
    margin-top: 10%;
}

.col-sm-12 h1 {
    color: #D3D3D3;
    letter-spacing: 2px;
}

.col-sm-12 h4 {
    color: #C0C0C0;
    letter-spacing: 1px;
}

#in {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    width: 45%;
    margin-left: 29%;
}

#google {
    margin-right: 5px;
}

.container {
    padding: 30px;
    border: solid #8B4F6E;
    border-radius: 10px;
    background: #8B4F6E;
}

.container h2 {
    text-align: center;
    color: white;
}

.col-form-label {
    color: white;
}

.registerbtn {
    padding: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: #E4C0C7;
    display: block;
    border-color: #E4C0C7;
}

.registerbtn:hover {
    transition: 0.5s;
    background-color: #541D38;
    color: white;
    cursor: pointer;
    border-color: #541D38;
}

div.container {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        margin-bottom: 5%;
    }

    #first {
        margin-top: 30%;
    }

    #in {
        width: 60%;
        padding: 4%;
        margin-left: 20%;
    }

    body{
        height: 100vh;
    }

}
