html, body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

#nav {
    transition: 0.5s;
    background-color: transparent;
    padding: 0.5rem 2rem;
}

.navbar {
    background-color: #541D38;
    padding: 0.5rem 2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 0.5rem;
}

.nav-link:hover {
    transition: 0.5s;
    color: #E4C0C7;
}

.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: url("../assets/background.png") no-repeat fixed;
    height: 100vh;
}

.landing-page-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page-content h1 {
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.landing-page-content p {
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: black;
}

.button-donate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4C0C7;
    border-radius: 36px;
    padding: 1rem;
    color: black;
}

.button-donate:hover {
    transition: 0.5s;
    color: white;
    background-color: #541D38;
    cursor: pointer;
}

.main-content {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.donation {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.content {
    max-width: 366px;
}

.donation-content {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.donation-content img {
    width: 366px;
    height: 205px;
    margin-bottom: 8px;
}

.donation-title {
    font-weight: bold;
    max-width: 366px;
    font-size: 1.2rem;
}

.see-more {
    justify-content: flex-end;
}

.see-more > a {
    padding: 0.5rem 1rem;
    background-color: #E4C0C7;
    text-decoration: none;
    border-radius: 36px;
    color: black;
}

.see-more > a:hover {
    transition: 0.5s;
    background-color: #541D38;
    color: white;
}

.line {
    display: block;
    border-top: 8px solid #541D38;
    width: 10%;
    margin-bottom: 2rem;
}

.news {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}

.main-news-content {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.news-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    width: 600px;
    height: 200px;
    max-width: 600px;
    max-height: 200px;
}

.news-content h5 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 0;
    width: 600px;
}

.footer h1 {
    color: white;
    font-family: 'Righteous', cursive;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #541D38;
    color: white;
    height: 20rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

.footer-text {
    text-align: center;
}

.footer-socmed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-socmed img {
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
}

.contact-us {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu {
    left: auto;
}

@media screen and (max-width: 768px) {
    #nav {
        background-color: #541D38;
        padding: 0.5rem 0.5rem;
    }

    .navbar {
        padding: 0.5rem 0.5rem;
    }

    .news-content h5 {
        width: 20rem;
        text-align: center;
    }

    .donation {
        padding-top: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .donation-content {
        margin-right: 1.5rem;
    }

    .landing-page {
        width: 100%;
    }

    .news-content {
        margin-right: 1.5rem;
    }

    .news {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .line {
        width: 40%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-text {
        font-size: 14px;
    }

    .footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer-socmed img {
        width: 30px;
        height: 30px;
    }
}

/**
Styling for about pages.
 */

.quotes-container {
    background: url("../assets/bg-about.png") no-repeat no-repeat center fixed;
    min-height: 500px;
    max-height: 700px;
}

.quotes-container h2 {
    padding: 4rem 10rem;
    color: white;
    font-weight: 900;
}

.quotes-container h3 {
    font-weight: 600;
    color: white;
}

.about-us h1 {
    font-family: 'Righteous', cursive;
}

.about-us {
    padding: 3rem 10rem;
    background-color: #F5F4F4;
}

.info {
    background-color: #541D38;
    color: white;
    padding: 3rem 4rem;
}

.info img {
    margin-bottom: 8px;
}

.info p {
    margin-bottom: 0;
    text-align: center;
}

.testimonials-form {
    font-family: 'Hind', sans-serif;
    padding: 2rem 7rem;
}

.testimonials-form h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.title-with-line .line {
    width: 20%;
}

.btn-primary {
    background-color: #541D38;
    border-color: #541D38;
    font-weight: 600;
    border-radius: 12px;
}

.text-area {
    border-radius: 12px;
    box-shadow: 5px 10px 18px #888888;
    padding: 1rem;
}

.testimonials-list {
    padding: 2rem;
}

.testimonials-list h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.testimony-set {
    height: 240px;
    width: 30%;
    background-color: #E4C0C7;
    border-radius: 1rem;
    margin-right: 28px;
    margin-bottom: 24px;
    word-break: break-word;
    box-shadow: 5px 10px 18px #888888;
}

.testimony-set p {
    text-align: center;
}

.blank-space {
    height: 0;
    width: 30%;
    margin-right: 28px;
}

.year {
    padding-top: 1.8rem;
    font-size: 14px;
    color: white;
}

.footer-about-us {
    background-color: #541D38;
    color: white;
    height: 10.5rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

.footer-about-us .contact-us {
    padding-top: 1rem;
}

@media screen and (max-width: 768px) {
    .about-us {
        padding: 1rem 1rem;
    }

    .quotes-container h2 {
        padding: 4rem 1rem;
        color: white;
        font-weight: 900;
    }

    .testimonials-form {
        padding: 2rem 1rem;
    }

    .testimony-set {
        height: 250px;
        width: 100%;
        margin: 0.7rem 1rem;
    }

    .testimonials-list {
        padding: 2rem 0.5rem;
    }

    .footer-about-us {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .info {
        padding: 2rem 4rem;
    }

    .info p {
        margin-bottom: 1rem;
        text-align: center;
    }

    .see-more {
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .quotes-container {
        background: url("../assets/bg-about.png") no-repeat no-repeat center fixed;
        background-size: cover;
        min-height: 500px;
        max-height: 700px;
    }

}