html, body {
    font-family: 'Hind', sans-serif;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

p {
    font-family: 'Hind', sans-serif;
    color: white;
    font-size: 14px;
}

.thankyou {
    background: url("../assets/thankyou_page.png") no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.isidonasi {
    background: url("../assets/donation_page.png") no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.donasi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
}

.element {
    background: #8b4f6e;
    border-radius: 5%;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 5%;
}

.button {
    background-color: #e4c0c7;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    border-radius: 10px;
}

.button:hover {
    transition: 0.5s;
    background-color: #541D38;
    color: white;
    cursor: pointer;
}

.tulisan {
    font-family: 'Hind', sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.element {
    width: 24rem;
}

.element p {
    margin-bottom: 2rem;
}

.errorlist {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    color: #dc3545;
    text-align: center;
}

@media screen and (max-width: 768px) {
    html, body {
        height: auto;
    }

    .element {
        padding: 0 48px;
    }

    .isidonasi {
        height: auto;
    }
}