{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'import.html' %}
    <link rel="stylesheet" href="{% static 'css/donasi-saya.css' %}" type="text/css">
    <title>SinarPerak</title>

    <!-- JQuery File -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "js/historydonasi-ajax.js" %}"></script>

</head>
<body>
{% include 'navbar.html' %}

<section class="user-profile d-flex justify-content-center align-items-left flex-column" style="min-height: 50vh">
    <div class="row profile d-flex justify-content-center align-items-center">
        <div class="col-xl-3" id="prof-box">
            <div class="prof-box">
                <img src="{% static 'assets/profile.png' %}" alt="profile" height="200" width="200">
            </div>
        </div>
        <div class="col-xl-9">
            <div class="group-title">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <h3>{{ user.email }}</h3>
            </div>
        </div>
    </div>
</section>

<section class="data-donasi">
    <div class="table-me">
        {% if user.is_authenticated %}
            <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" align="center">
                <thead class="thead-light">
                <tr class="table" align="center">
                    <th scope="col" class="align-middle"> No.</th>
                    <th scope="col" class="align-middle"> Nama</th>
                    <th scope="col" class="align-middle"> Program</th>
                    <th scope="col" class="align-middle"> Jumlah Donasi</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        {% endif %}
        </div>
    </div>
</section>


<section class="footer">
    <h1 align="center">SinarPerak</h1>
    <p class="footer-text">SinarPerak adalah website untuk menggalang dana dan berdonasi secara online dan transparan.
        SinarPerak memfokuskan
        kampanyenya untuk daerah-daerah di Indonesia yang sedang mengalami bencana. SinarPerak didirikan pada tahun 2018
        oleh mahasiswa Fasilkom Indonesia.</p>
    <div class="contact-us">
        <h5>CONTACT US</h5>
        <div class="footer-socmed">
            <a href="https://www.facebook.com" target="_blank"><img src="{% static 'assets/fb.png' %}"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{% static 'assets/ig.png' %}"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="{% static 'assets/tw.png' %}"></a>
            <a href="https://www.youtube.com" target="_blank"><img src="{% static 'assets/youtube.png' %}"></a>
        </div>
    </div>
</section>
</body>
</html>
