{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tentang Kami</title>
    {% include 'import.html' %}
    <script src="{% static 'js/testimony-ajax.js' %}"></script>
</head>
<body>
{% include 'navbar.html' %}
<section class="quotes-container d-flex justify-content-center align-items-center flex-column">
    <h2 align="center">
        “The simplest acts of kindness are by far more powerful then a thousand heads bowing in prayer.”
    </h2>
    <h3 align="center">Mahatma Gandhi</h3>
</section>
<section class="about-us">
    <h1 align="center">SinarPerak</h1>
    <p align="center" class="about-us-txt">SinarPerak adalah website untuk menggalang dana dan berdonasi secara online
        dan transparan. SinarPerak memfokuskan kampanyenya untuk daerah-daerah di Indonesia yang sedang mengalami
        bencana. SinarPerak didirikan pada tahun 2018 oleh mahasiswa Fasilkom Indonesia. Awalnya, SinarPerak dibuat
        karena pengembang merasa bahwa penduduk Indonesia memiliki kesulitan ketika hendak melakukan donasi terhadap
        suatu
        bencana. Oleh karena itu, dibuatlah suatu platform yang dapat memudahkan penduduk Indonesia untuk melakukan
        donasi terhadap suatu bencana yang terjadi di Indonesia, platform tersebut bernama SinarPerak.</p>
</section>
<section class="info">
    <div class="main-container-info d-flex flex-wrap justify-content-around align-items-center">
        <div class="info-content d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'assets/donation-1.png' %}">
            <p>Helping 1.6K donations<br>in 2018</p>
        </div>
        <div class="info-content d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'assets/donation-2.png' %}">
            <p>More than 1M donators<br>in 2018</p>
        </div>
        <div class="info-content d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'assets/donation-3.png' %}">
            <p>Collected total up to
                7 Billions<br>in 2018</p>
        </div>
    </div>
</section>
{% if user.is_authenticated %}
    <section class="testimonials-form">
        <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
            <h1 align="center">APA KATA KAMU?</h1>
            <div class="line"></div>
        </div>
        {% csrf_token %}
        <div class="form-group">
        <textarea class="form-control text-area" placeholder="Enter your testimony here.." rows=5
                  id="comment" required></textarea>
        </div>
        <div class="submit-btn d-flex justify-content-end align-items-center">
            <input type="button" onclick="saveTestimony()" class="btn-primary btn" value="SUBMIT">
        </div>
    </section>
{% endif %}
<section class="testimonials-list">
    <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
        <h1 align="center">KALAU KATA MEREKA</h1>
        <div class="line"></div>
    </div>
    <div id="testimony" class="testimony d-flex flex-wrap justify-content-center align-items-center">
        {% for testimony in data %}
            <div class="testimony-set d-flex justify-content-center align-items-center flex-column">
                <p class="testimony-txt">“{{ testimony.text }}” </p>
                <p class="testimoners"><strong>{{ testimony.name }}</strong></p>
            </div>
        {% endfor %}
        <div class="blank-space"></div>
        <div class="blank-space"></div>
    </div>
</section>
<section class="footer-about-us d-flex justify-content-center align-items-center flex-column">
    <div class="contact-us">
        <h5>CONTACT US</h5>
        <div class="footer-socmed">
            <a href="https://www.facebook.com" target="_blank"><img src="{% static 'assets/fb.png' %}"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{% static 'assets/ig.png' %}"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="{% static 'assets/tw.png' %}"></a>
            <a href="https://www.youtube.com" target="_blank"><img src="{% static 'assets/youtube.png' %}"></a>
        </div>
    </div>
    <div class="year d-flex justify-content-center align-items-center">Copyright © 2018 SinarPerak</div>
</section>
</body>
</html>