{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'import.html' %}
    <title>Page Not Found!</title>
    <link href="{% static 'css/error-page.css' %}" type="text/css" rel="stylesheet" media="all"/>
</head>

<body>
<div class="container-fluid">
    <img class="img-error" src="{% static 'assets/error.png' %}"/>
    <h2>404 Not Found</h2>
    <p>Sorry, an error has occured, Requested page not found!</p>
    <div class="error-actions">
        <a href="{% url 'homepage' %}" class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-arrow-left"></span>
            Back Home </a>
    </div>
</div>
</body>

</html>