{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/regis-styles.css' %}" type="text/css">
    {% include 'import.html' %}
</head>

<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="first">
            <h1 class="text-center"><b>BERBUAT KEBAIKAN YUK!</b></h1>
            <h4 class="text-center">"Wherever there is a human being, there is
                an opportunity for a kindness"<br>
                - Lucius Annaeus Seneca</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 3%; display: flex;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <div class="col-sm-12 align-self-center" id="out">
                    <div class="col-sm-12 align-self-center" id="in">
                        <a href="{% url 'social:begin' 'google-oauth2' %}"
                           style="text-transform:none; font-weight: bold; display: inline-flex;">
                            <div class="left">
                                <img width="20px" alt="Google &quot;G&quot; Logo" id='google'
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            </div>
                            Login with Google
                        </a>
                        <br>
                    </div>
                </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
</body>
</html>