{% load static %}
<html>
<head>
    {% include 'import.html' %}
    <link rel="stylesheet" href="{% static 'css/style_tqpage.css' %}" type="text/css">
    <title>SinarPerak</title>

</head>

<body class="isidonasi">
{% include 'navbar.html' %}
<div class="form">
    <div class="tulisan">
        <h3> Anda akan berdonasi untuk campaign: </h3>
        <h2><strong>{{ obj.title }}</strong></h2>
    </div>
    <div class="element">
        <form action="/donasi/{{ obj.titleURL }}/" id="form" method="POST">
            {% csrf_token %}
            {% if form.email_donatur.errors %}
                {{ form.email_donatur.errors }}
            {% elif form.jumlah_donasi.errors %}
                {{ form.jumlah_donasi.errors }}
            {% endif %}
            <p>Nama:
                {{ form.nama_donatur }} </p>
            <p>Jumlah Donasi:
                {{ form.jumlah_donasi }}
                {{ form.anonymous }} Donasi sebagai Anonim</p>
            <div style="text-align: center">
                <button type="submit" class="button">Donasi Sekarang</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
