{% load static %}
<html>
<head>
    {% include 'import.html' %}
    <link rel="stylesheet" href="{% static 'css/style_tqpage.css' %}" type="text/css">
    <meta http-equiv="refresh" content="8; url={% url 'homepage' %}">
    <title>Thank You!</title>
</head>

<body>
{% include 'navbar.html' %}
<section class="thankyou">
    <h1> Terima Kasih! </h1>
    <h1> Donasi Anda akan sangat membantu mereka. </h1>
</section>
</body>
</html>
