{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'import.html' %}
    <script src="{% static 'js/index.js' %}" rel="script" type="text/javascript"></script>
    <title>SinarPerak</title>
</head>
<body>
<nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'homepage' %}">SinarPerak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="link-to-news" href="#news">Berita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="donasi" href="{% url 'donate_page:allDonation' %}">Donasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Tentang Kami</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Hello, {{ user.first_name }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'list_donasi' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'regis_page:logoutview' %}">Log Out</a>
                    </div>
                {% else %}
                    <a class="nav-link" href="{% url 'regis_page:form' %}">Daftar</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<section class="landing-page">
    <div class="landing-page-content">
        <h1>SinarPerak</h1>
        <p>Setiap bulan sekurang-kurangnya
            <br>300 bencana terjadi di Indonesia</p>
        <a href="#donation" id="donate-button" class="button-donate">DONASI SEKARANG</a>
    </div>
</section>
<section id="donation" class="donation">
    <div class="title">
        <h4>BANTU SEKARANG</h4>
        <div class="line"></div>
    </div>
    <div class="main-content">
        {% for i in disasters %}
            <div class="donation-content">
                <a href="disasterInfo/{{ i.titleURL }}">
                    <img src="{{ i.imageURL }}" alt="gambar">
                </a>
                <p class="donation-title">{{ i.title }}</p>
                <p class="content">{{ i.description }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="see-more d-flex align-items-center"><a href="{% url 'donate_page:allDonation' %}">SEE MORE </a></div>
</section>
<section id="news" class="news">
    <div class="title">
        <h4>KABAR TERBARU</h4>
        <div class="line"></div>
    </div>
    <div class="main-news-content">
        {% for news in news %}
            <div class="news-content" style='background: url("{{ news.image_url }}")'>
                <a class="news-source" target="_blank" href="{{ news.news_source }}"><h5>{{ news.news }}</h5></a>
            </div>
        {% endfor %}
    </div>
</section>
<section class="footer">
    <h1 align="center">SinarPerak</h1>
    <p class="footer-text">SinarPerak adalah website untuk menggalang dana dan berdonasi secara online dan transparan.
        SinarPerak memfokuskan
        kampanyenya untuk daerah-daerah di Indonesia yang sedang mengalami bencana. SinarPerak didirikan pada tahun 2018
        oleh mahasiswa Fasilkom Indonesia.</p>
    <div class="contact-us">
        <h5>CONTACT US</h5>
        <div class="footer-socmed">
            <a href="https://www.facebook.com" target="_blank"><img src="{% static 'assets/fb.png' %}"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{% static 'assets/ig.png' %}"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="{% static 'assets/tw.png' %}"></a>
            <a href="https://www.youtube.com" target="_blank"><img src="{% static 'assets/youtube.png' %}"></a>
        </div>
    </div>
</section>
</body>
</html>
