<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'homepage' %}">SinarPerak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="link-to-news" href="{% url 'homepage' %}#news">Berita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'donate_page:allDonation' %}">Donasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Tentang Kami</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Hello, {{ user.first_name }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'list_donasi' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'regis_page:logoutview' %}">Log Out</a>
                    </div>
                {% else %}
                    <a class="nav-link" href="{% url 'regis_page:form' %}">Daftar</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
